
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    color: #4b4b4b;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

.left {
    color: #ff914d;
    font-size: 25px;
    font-weight: 800;
    padding: 15px;
}

.right {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #656363;
    padding: 20px;
}

.header,
.main {
    background-color: #fffed5;

}

.main {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    justify-content: center;
}

.intro {
    font-size: 30px;
    font-weight: 600;
    color: #ff8a83;
    display: flex;
    margin-top: 100px;
}

#learn {
    margin-top: 100px;
}

.about {
    margin-top: 25px;
}

img {
    height: 200px;
    width: auto;
}

.l, 
.r {
    display: flex;
    padding: 10px;
}

.l {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.r {
    margin-left: 30px;
    margin-right: 5px;
    display: flex;
    align-items: center
}

.l,
.left,
.why {
    margin-left: 70px;
}

.r, 
.right,
.why {
    margin-right: 70px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 20px
}

.why {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.expert, 
.engaging, 
.versatile {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text {
    text-align: center;
}

.hook {
    font-size: 27px;
    font-weight: 600;
    margin: 50px;
    text-align: center;
}

#ex,
#en,
#ver {
    border-radius: 25px;
    border: 3px solid #ff914d;
}

.quote {
    padding: 80px;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fffed5;

}

.words {
    font-size: 33px;
    font-style: italic;
    text-align: center;
}

.author {
    padding: 20px;
    font-weight: 300;
    text-align: center;
}

#logo {
    height: 150px; 
    width: auto;
}